body{
  background-color:lightgray;
}
h1{
  color:blue;
}
p{
  font-size:18px;
}
nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
